<!-- Login Page -->
<!DOCTYPE html>
<html lang="en-us">
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hour Checker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/loginstyle.css">
    <script src="https://www.gstatic.com/firebasejs/3.7.5/firebase.js"></script>
    <script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyC-YEHMVYWxliKgm_K9tujq8A_EHYXr6SI",
    authDomain: "volunteerhours-35189.firebaseapp.com",
    databaseURL: "https://volunteerhours-35189.firebaseio.com",
    projectId: "volunteerhours-35189",
    storageBucket: "volunteerhours-35189.appspot.com",
    messagingSenderId: "672807771974"
  };
  firebase.initializeApp(config);
  </script>
  </head>
    
    <nav class="navbar">
      <h1>Welcome to VolunText</h1>
      <div id="link">
      <a id="link" href="/org">Admin?</a>
    </div>
    </nav>
  
  <body>
   
    <div class="test" >
      <h2 id="motto">Let Us Keep Track of Your Hours</h2>
    </div>
    
    <div class="row row1">
      
      <div class="col-sm-1">
      </div>

      <div class="col-sm-7">
        <p>At VolunText we believe that solving a small problem can have a large impact. Our services are designed to assist the Volunteer driven non profit space by providing an efficient means of gathering volunteer hours at both the organizational and volunteer levels. We understand that inaccurate reporting can have an impact on the efficacy of an organization, and in turn, have devoted ourselves to finding a solution. Our solution is simple, yet effective. It helps assure maximum fundraising potential, promotes a sense of community within the Volunteers, and makes the impact of your organization easily visible on a global level. Help us make the World a better place by helping you make the world a better place!</p>
      </div>

      <div class="col-sm-3">

        <div class="row">
          <img id="logo" class="img-circle"src="images/logo.png" alt="logo">
        </div>

        <div class="row">
          <div class="input-group r2">
            
            <input type="text" class="form-control" id="email" placeholder="Email"aria-describedby="basic-addon1">
          </div>
          <br>
          <div class="input-group r2">
            
            <input type="password" class="form-control" id="password" placeholder="Password" aria-describedby="basic-addon1">
          </div>
          <br>
                            
          <div class="input-group r2 r3">
          <button type="submit" id="signIn" class="btn btn-primary btn-lg r2" >SignIn</button>
          </div>
          

      </div>

      <div class="col-sm-1">
      </div>

    </div>
    
    <br>
    <br>
    

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script type="text/javascript" src="/javascript/login.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
</body>
</html>
