body {
	box-sizing: border-box;
	
}

p {
	line-height: 150%;
	font-size: 26px;
	color: #194583;

}

#logo {
	border: 1px solid black;
	display: block;
	margin:auto;
}

#firebaseui-auth-container {
	margin-top: 5%;
}

.navbar {
	padding-left: 10%;
	border-bottom: 2px solid #09BBEB;
	background-color: lightgrey;
	color: #09BBEB;
}

.row1 {
	background-color: lightgrey;
	padding-top: 2%;

}


.test {
	text-align: center;
}

#motto {
	display: block;
	margin: auto;
	width: 90%;
	background-color: #194583;
	color: darkorange;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-bottom: 2%;
	border-radius: 15px;
}

.r2 {
	margin:auto;
}

#email {
	margin-top: 20%;
}

.r3 {
	padding-bottom: 5%;
}

#email, #password {
	border-radius: 10px;
}

#link {
	float: right;
	margin-right: 3%;
}